<!--me equivoque con el commit-->
p {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
}
.envio-container-table {
    width: 90%;
    margin-bottom: 50px;
}
.envio-card-cell {
    width: 33%;
    vertical-align: top;
    padding: 15px;
}
.envio-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    height: 400px;
    box-sizing: border-box;
    position: relative;
}
.envio-card>tr>td {
    vertical-align: center;
    height: 180%;
    padding-bottom: 80px;

}
.envio-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 25px;
    display: block;
}
span {
    font-size: 1.2em;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 20px;
}